.progressbar-main h1{
  padding: 50px 0;
  text-align: center;
}

.progressbar-main p{
  padding-bottom: 35px;
}

.progressbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background-color: rgb(168, 33, 33);
  transform-origin: left center;
  transform: scaleX(0);
  transition: transform .2s ease;
}